body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.new-year{
    font-size: 4rem;
    color: #ffffff;
    text-align: center;
    animation: colorChange 3s infinite alternate, glow 3s infinite alternate;
}

@media(max-width:768px){
    .new-year{
        font-size: 2.5rem;
    }
}

@keyframes colorChange{
    0% {color: white;}
    25% {color: #ff4500;}
    50% {color: #ffd700;}
    75% {color: #32cd32;}
    100% {color: #1e90ff;}
}

@keyframes glow{
    0% {text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);}
    50% {text-shadow: 0 0 20px rgba(255, 255, 0, 0.8), 0 0 30px rgba(255, 0, 255, 0.6);}
    100% {text-shadow: 0 0 40px rgba(255, 0, 0, 0.8), 0 0 60px rgba(0, 255, 0, 0.6);}
}

.year{
    font-size: 6rem;
    color: white;
    text-align: center;
    animation: changeYear 6s forwards;
}

@media (max-width: 768px){
    .year{font-size: 4rem;
    }
}